[submodule "modules/codecraft-base"]
	path = modules/codecraft-base
	url = https://github.com/CodeCraft-developpement/codecraft-base.git
[submodule "modules/codecraft-core"]
	path = modules/codecraft-core
	url = https://github.com/CodeCraft-developpement/codecraft-core.git
